.button {
  padding: .8rem 2rem;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 12rem;
}

.button:hover {
  background-color: #757575;
  transition: ease-in-out 0.2s;
  margin-left: .5rem;
}

@media (max-width: 768px) {
  .button {
    width: 10rem;
  }
}