.profile {
  padding: 2rem;
  margin: 0 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  width: 400px;
  background-color: #ececec;
  border-radius: 1rem;
}

.profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px #664d4d;
}

.divider {
  width: 100%;
  height: 1.4px;
  background-color: #b1aeae;
}

@media (max-width: 768px) {
  .profile {
    width: 100%;
  }
}